mixin scripts(data)
  //- script(src="//code.jquery.com/jquery-1.12.4.js")
  //- script(src="//code.jquery.com/ui/1.12.1/jquery-ui.js")
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNhcM8TXwCVRR0u0V9-5HwJRqO6R40-nY")
  script(src="js/libs.js")
  script(src="js/custom.js")