mixin main()
  main.main main
    div#pip-pano
    div#map-canvas
    #test
      .container
        .row
          .col-12
            .test-items
              .item
                .item-img
                  img(src="../../img/icons/m1.png", alt="img")
                .item-text
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga eligendi laudantium et eos.
              .mini-item 
                span ...........................>...........................
              .item
                .item-img
                  img(src="../../img/icons/m1.png", alt="img")
                .item-text
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga eligendi laudantium et eos.
              .mini-item 
                span ...........................>...........................
              .item
                .item-img
                  img(src="../../img/icons/m1.png", alt="img")
                .item-text
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga eligendi laudantium et eos.